/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: azure;
    --text-color: #202020;
    --btn-bg-light: #e8e8ea;
    --btn-bg-dark: #4B6BFB;
    --text-sans-color: #181a2a;
    --btn-bg-darkk: #edeef3;
}
.dark-mode{
    --bg-color: #000;
    --text-color: white;
    --text-sans-color: white;
    --btn-bg-darkk: #404146;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s ease-in-out;

}
/* Global Layout*/
*{
    margin: 0;
    padding: 0;
}
.container-wrapper{
    width: 100%;
}

.container{
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
    margin-right: 5%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}

/*Button*/
.theme-switch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    cursor: pointer;
    height: 30px;
    padding: 0;
    background-color: var(--btn-bg-light);
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
  
}
.theme-switch.dark{
    justify-content: flex-end;
    background-color: var(--btn-bg-dark);
}
.button-wrapper{
    display: flex;
    align-items: center;
    border: none;
    padding: 5px;
}
.button-wrapper .switch-button{
    padding: 0px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50%;

}
.switch-button img{
    border-radius: 50%;
    height: 23px;
    width: 23px;
    padding: 5px;
}
.dark-mode .nav-link {
    color: var(--text-color) !important;
}


/* Header */
#header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--bg-color);
    padding: 20px;
    box-shadow: 0px 0px 5px gray;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu{
    display: flex;
    list-style-type: none;
    gap: 15px;
}
.menu-icon i{
    display: none;
}


/*Hero Section*/
.hero{
    margin-top: 109px;
    position: relative;
}
.hero-img img{
    width: 100%;
}
.hero-card{
    position: absolute;
    bottom: -40px;
    height: 270px;
    left: 50px;
    padding: 30px;
    border-radius: 30px;
    width: 518px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 5px gray;
}
.small-heading p{
    padding: 5px 15px;
    background-color: #4B6BFB;
    display: inline-block;
    border-radius: 5px;
}
.hero-card .heading h2{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    line-height: 40px;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 11px;
    color: var(--text-sans-color);
}
.dark-mode .hero-card .heading h2{
    color: var(--text-sans-color);
}
.hero-author{
    display: flex;
    align-items: center;
}
.hero-author-name{
    margin: 0 20px;
}
.hero-author-name p, .hero-author-date p{
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: var(--text-sans-color);
}

/*Responsive*/
@media only screen and (max-width: 600px) {
  .menu-icon i{
    display: block;
    cursor: pointer;
    font-size: 24px;
  }
  .menu-icon{
    position: relative;
  }

  .menu{
    flex-direction: column;
    position: absolute;
    top: 30px;
    width: 120px;
    display: none;
    background-color: var(--bg-color); 
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .menu-icon:focus .menu{
    top: 10px;
  }
  .menu-item a{
    font-size: 20px;
  }
  .theme-switch{
    margin-right: 5%;
  }
  #hero{
    display: none;
  }
}

/* Blocks */

.blocks{
    margin-top: 120px;
}
.small-heading2 p{
    padding: 5px 15px;
    background-color: var(--btn-bg-darkk);
    display: inline-block;
    border-radius: 5px;
    color: #4B6BFB;
    margin-top: 10px;
}

.card {
    margin-left: 9.5px;
    margin-top: 9.5px;
    width: 395px;
    height: 410px;
    background-color: var(--bg-color);
  }
  .card h4{
    color: var(--text-sans-color);
  }
  .card-wrapper{
    width: 340px;
    height: 432px;
    border-radius: 5px;
  border: 1px solid rgb(167, 161, 161);  /* Border */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);  
}

.button{
    overflow: hidden;
    margin-top: 100px;
    border-radius: 12px;
    position: relative;
    text-align: center;
   
}
.small-heading3 p{
    padding: 5px 15px;
    background-color: var(--btn-bg-darkk);
    display: inline-block;
    border-radius: 5px;
    color: var(--text-color);
    margin-top: 10px;
}